name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    environment:
      name: production
    strategy:
      matrix:
        package: [ "permit2-sdk", "router-sdk", "sdk-core", "universal-router-sdk", "v2-sdk", "v3-sdk" ]

    runs-on: self-hosted
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: "true"
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7
        with:
          node-version: 18

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn --immutable

      - name: Check Commit Message for ${{ matrix.package }}
        id: check_release
        run: |
          if git log -1 --pretty=format:'%s' | grep -q '.*(${ { matrix.package } }):'; then
            echo "::set-output name=should_run::true"
          else
            echo "::set-output name=should_run::false"
          fi
        shell: bash

      - name: Build ${{ matrix.package }}
        if: steps.check_release.outputs.should_run == 'true'
        run: yarn workspace @x-swap-protocol/${{ matrix.package }} build


      - name: Release ${{ matrix.package }}
        if: steps.check_release.outputs.should_run == 'true'
        env:
          NPM_CONFIG_USERCONFIG: /dev/null
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

        run: npx semantic-release --no-ci --extends ./publishing/release-rules.cjs
        working-directory: sdks/${{ matrix.package }}

#      - name: Build SDK's
#        run: yarn g:build
#
#      - name: Release Needed SDK's
#        env:
#          NPM_CONFIG_USERCONFIG: /dev/null
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
#        run: yarn g:release
